@font-face {
    font-family: 'BeonMedium';
    src: url('beon-webfont.eot');
    src: local('☺'), url('beon-webfont.eot?#iefix') format('embedded-opentype'), url('beon-webfont.woff') format('woff'), url('beon-webfont.ttf') format('truetype'), url('beon-webfont.svg#BeonMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: rgba(58, 58, 58, 0.0);
}

#chartHeader {
    position: relative;
    text-align: center;
    font-family: BeonMedium, 'Times New Roman', Times, serif;
    font-size: 32px;
    color: red;
}

#chartData {
    width: 500px;
    min-height: 60px;
    margin-left: auto;
    margin-right: auto;
}

#mapper {
    /*position: absolute;*/
    width: 500px;
    min-height: 35px;
    text-align: center;
    font-family: BeonMedium, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: red;
}

#playerData {
    width: 450px;
    min-height: 25px;
    margin-left: auto;
    margin-right: auto;
}

#player {
    /*position: absolute;*/
    width: 49.5%;
    float: left;
    text-align: left;
    font-family: BeonMedium, 'Times New Roman', Times, serif;
    font-size: 12px;
    color: red;
}

#score {
    position: relative;
    font-size: 25;
    float: left;
    top: 500px;
    width: 90%;
    height: 200px;
    left: 260px;
    background-color: beige;
    opacity: 25%;
    float: bottom;
    text-align: right;
    font-family: BeonMedium, 'Times New Roman', Times, serif;
    font-size: 12px;
    color: red;
    border-style: solid;
    border-width: 2px 10px 4px 20px;
    z-index: -2;
}
p.makeMyTextLookGoodSam{
    text-align: center;
    font-family: BeonMedium, 'Times New Roman', Times, serif;
    font-size: 32px;
    color: red;
}