@font-face {
font-family: 'BeonMedium';
src: url('beon-webfont.eot');
src: local('☺'), url('beon-webfont.eot?#iefix') format('embedded-opentype'),url('beon-webfont.woff') format('woff'),url('beon-webfont.ttf') format('truetype'),url('beon-webfont.svg#BeonMedium') format('svg');
font-weight: normal;
font-style: normal;}

